.card-info-wrapper {
  flex-direction: column;
  gap: 24px;
  display: flex;
  padding: 20px;
}

.card-info-title {
  gap: 8px;
  align-items: center;
  display: flex;
}

.card-info-title h1 {
  font-size: 24px;
  margin-right: 8px;
}

.card-image-add {
  width: 270px;
  height: 570px;
  object-fit: cover;
}

.card-image-wrapper {
  flex-direction: row;
  gap: 12px;
  display: flex;
}

.card-info-block {
  flex-direction: row;
  gap: 12px;
  display: flex;
}

.card-image-container {
  background-color: #fff;
  border-radius: 0.4rem;
  border: 0.1rem solid #d5d5dd;
  padding: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info-container {
  background-color: #fff;
  border-radius: 0.4rem;
  border: 0.1rem solid #d5d5dd;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card-info-container button {
  max-width: 100%;
}

.card-info-container img,
.card-info-link {
  border: 0.1rem solid #d5d5dd;
  box-shadow: 0 0.4rem 2rem #4c48610d;
  border-radius: 0.4rem;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.card-info-link {
  max-width: 100%;
  width: -webkit-fill-available;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 1200px) {
  .card-image-wrapper {
    flex-direction: column;
  }

  .card-image-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card-info-block {
    flex-direction: column;
  }

  .card-image-container {
    width: auto;
  }

  .card-info-title h1 {
    font-size: 18px;
  }
}
