.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  gap: 20px;
}

.tabs span {
  flex: 1;
  font-size: 36px;
  line-height: 3.2rem;
  margin: 0;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #83848d;
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}

.tabs span.active {
  color: #1f1e1f;
}

@media (max-width: 768px) {
  .tabs span {
    font-size: 24px;
  }
}
