.not-found {
    text-align: center;
}
  
.not-found h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.not-found .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
}
  
.not-found .btn:hover {
    background-color: #444;
}
