.not-found {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.not-found h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}
