.settings-container {
  padding: 20px 20px 80px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tariff-boxes {
  display: flex;
  gap: 24px;
  width: 100%;
}

.tariff-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  width: 100%;
}

.tariff-box-column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tariff-box-column hr {
  width: 100%;
}

.tariff-box-content {
  margin: 16px 0;
}

.tariff-name {
  font-size: 26px;
  font-weight: 600;
}

.tariff-sub {
  color: #666;
  font-size: 14px;
  margin-top: 4px;
}

.tariff-price {
  font-size: 26px;
  font-weight: 600;
}

.tariff-due {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.tariff-due-title,
.tariff-box-column p {
  font-weight: 600;
}

.tariff-table th.text-left {
  padding-left: 16px;
}

.tariff-due-title hr {
  width: 100%;
}

.tariff-due-grid {
  display: flex;
  justify-content: space-between;
}

.tariff-due-date,
.tariff-due-time,
.tariff-due-days {
  font-size: 26px;
  font-weight: 600;
}

.tariff-btn-dark {
  margin-top: 8px;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
}

.tariff-table-wrapper {
  overflow-x: auto;
}

.tariff-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tariff-table th,
.tariff-table td {
  padding: 16px;
  border: 1px solid #ddd;
}

.tariff-green {
  color: green;
  font-weight: 600;
  font-size: 18px;
}

.tariff-red {
  color: red;
  font-weight: 600;
  font-size: 18px;
}

.tariff-selectors {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  gap: 16px;
}

.tariff-selector select {
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.settings-header {
  display: flex;
  justify-content: space-between;
}

.settings-tabs {
  display: flex;
  gap: 10px;
}

.settings-tab-button {
  padding: 8px 16px;
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.settings-tab-button.active {
  background-color: #333;
  color: white;
  border-color: #333;
}

.payment-history {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-x: auto;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.history-table th {
  background-color: #f5f5f5;
  font-weight: 500;
}

@media (max-width: 768px) {
  .settings-header {
    flex-direction: column;
    gap: 12px;
  }

  .tariff-boxes {
    flex-direction: column;
  }

  .settings-container {
    padding: 20px 20px 0 20px;
  }

  .tariff-due-grid {
    flex-direction: column;
  }

  .tariff-box-content {
    margin: 4px 0;
  }

  .tariff-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
