.submenu-wrapper {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--bar-height);
  background-color: #2e2e2e;
  border-bottom: 1px solid #333;
  padding: 0;
  z-index: 999;
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.submenu-inner {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 8px 24px;
  min-width: max-content;
  height: 100%;
}

.submenu-wrapper::-webkit-scrollbar {
  display: none;
}

.submenu-left {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.submenu-center {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 8px;
  min-width: 0;
}

.submenu-right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.card-name-button {
  background: #1f1e1f;
  border: 1px solid #666;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  width: 200px;
}

.name-editor {
  position: relative;
  display: inline-block;
}

.required-star {
  position: absolute;
  top: 4px;
  right: 8px;
  color: white;
  font-size: 14px;
  pointer-events: none;
}

.divider {
  color: #555;
  margin: 0 6px;
}

.submenu-tab {
  flex: 1;
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #555;
  background: #454545;
  color: white;
  text-decoration: none;
  transition:
    background 0.2s,
    color 0.2s;
  text-align: center;
  white-space: nowrap;
}

.submenu-tab.active {
  background: white;
  color: black;
  border-color: transparent;
  font-family: 'Manrope', system-ui;
}

.submenu-tab.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.submenu-icon-button {
  background: #454545;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 12px 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.submenu-page-icon {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenu-page-icon svg {
  width: 18px;
  height: 18px;
}

.submenu-icon-button:hover {
  background: rgba(255, 255, 255, 0.05);
}

.submenu-save-button {
  background: #454545;
  color: white;
  border: 1px solid #555;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}

.submenu-save-button:hover {
  background: rgba(255, 255, 255, 0.05);
  color: white;
}

@media (max-width: 999px) {
  .submenu-wrapper {
    top: var(--header-mobile-height);
    position: static;
  }
}
