.footer {
  background-color: rgb(239, 227, 229);
  color: black;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 9999;
}

.footer-link {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 999px) {
  .footer {
    margin-bottom: var(--bottom-nav-height);
  }
}
