.footer {
  background-color: rgba(191, 71, 86, 0.1);
  color: black;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
