@import '@fontsource/manrope';

html, body {
  margin: 0;
  font-family: 'Manrope', system-ui;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #000;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  height: 100%;
}

.page-content {
  padding: 20px 20px 20px 80px;
  flex-grow: 1;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .page-content {
    padding: 20px;
  }
}
